@charset "utf-8";

.top-sec {
  margin-top: 8rem;
  &:last-of-type {
    margin: 8rem 0;
  }
}

.l-inner {
  width: 1000px;
  margin: 0 auto;
  max-width: 90%;
}

.btnA {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  font-size: 1.8rem;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  min-width: 320px;
  &__inner {
    padding: 15px 0;
    display: inline-block;
  }
  &:hover {
    background: #333;
    transition: .4s;
    color: #fff;
  }
}